*{
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
}



/* Recomendação Edson >>*/
html{

    scroll-behavior: smooth;
}
/* ^^ */

body{

    display: flex;
}

/* CABEÇALHO */
.side_screen{
    
    height: 100vh;
    width: 22%;
    background-color: rgb(241, 241, 241);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;
}

.sd_header{
    
    list-style: none;
    align-items: center;
    height: min-content;
    width: 80%;
    text-align: center;
    margin-bottom: 50%;
    margin-left: 28.5%;
}

.sd_header>li{

    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",arial, sans-serif;
    font-weight: 800;
    height:28.8px;
    width:  207px;
}
.sd_header li>a{
    
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: x-large;
    font-family:  "Montserrat", Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.8;
    color: rgb(61, 61, 61);
}

.especial:after{

    content: "";
    width: 0px;
    height: 1px;
    background-color: black;
    transition: 0.5s;
}

.especial:hover::after{

    width: 60px;
    transition: 0.5s;
    animation-timing-function: ease;    
}

/* ICONE > */
#user_icon{

    height: 180px;
    width: 180px;
    border-radius: 80%;
    background-image: url(https://preview.colorlib.com/theme/louie/images/author.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}

.sd_user{

    text-align: center;
    font-family:  "Montserrat", Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 0.01px;
    font-size: 24px;
    margin-bottom: 10%;
}

/* footer */
.sd_footer{
    
    height: 10%;  
}

.sd_footer_input>span{

    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bolder;
}

input{

    border-radius: 1%;
    height: 35px;
}

/* SECTION */

#conteudo_do_site{

    display: flex;
    flex-direction: column;
    position: relative;
    width: 78%;
}

#frontpage{

    display: flex;
}
.user_img {

    height: 1200px;
    width: 800px;   
}

#text_background{

    z-index: -1;
    font-size: 70px;
    font-family: "Poppins", arial,  sans-serif;
    position: relative;
    color: rgb(221, 221, 221);
}

#text_hello{

    display: block;
    position: absolute;
    top: 39%;
    left: 2.3%;
    font-size: larger;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    color: rgb(95, 95, 95);
}

.text_position_formatadora_auxiliar{

    position: relative;
    margin-top: 24%;
}

#Titulo{
    width: 80%;
    background-color: transparent;
    height: 80vh;
}

#photographer{

    font-size: 44px;
    line-height: 1.5;
    font-weight: 700;
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: 6%; 
}

#text_gold{

    color: rgb(202, 181, 128);
}

#text_paragraph{
    
    height: 30%;
    width: 80%;
    font-size: 18px;
    margin-left: 6%;
    margin-top: 5%;
    line-height: 30px;
    font-family: "Poppins", arial,  sans-serif;    
}

#Signature{
    
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 500;
    font-size: 40px;
    margin-left: 6%;
}

.icons{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin-top: 4%;
    margin-left: 2%;
}

.icons svg{

    width: 40px;
}
.single_icon{
    
    height: 6.3vh;
    width: 6.3vh;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(228, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Middle-section */

#container{

    width: 100% ;
    height: 272px;
    margin: 75px 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#container_text{

    font-family: "Montserrat", Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    margin-bottom: 24px;
    height: fit-content;
    display: flex;
    justify-content: center;
}
#container_text>a{

    text-decoration: none;
}

#middle_title{

    font-family: "Montserrat", Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: black;
    letter-spacing: 1.7px;
}

#row_noGutters{

    display: flex;
    flex-direction: row;
}

#insta_image_popup1{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-image:url(Imagens/image_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
#insta_image_popup2{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-image:url(Imagens/image_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
#insta_image_popup3{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-image:url(Imagens/image_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
#insta_image_popup4{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-image:url(Imagens/image_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#insta_image_popup5{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-image:url(Imagens/image_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/* conserto>>> */
.div_de_alinnhar_icone{

    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0);
}

.icone_popup{

    width: 40px;
    height: 40px;
    fill: rgba(255,255,255,0);
    transition: 0.5s;
}

.footer_wrap_photo_list_item:hover .icone_popup{

    fill: rgba(255, 255, 255, 1);
    animation-timing-function: ease;
}

.footer_wrap_photo_list_item:hover .div_de_alinnhar_icone{

    background-color: rgba(0, 0, 0, 0.5);
    animation-timing-function: ease;
}
/* conserto^^^^ */

/* footer */

#content_footer{

    width: 100%;
    height: 560px;
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: rgb(35, 36, 35);
    display: flex;
    flex-direction: column;
}

#footer_row_maker{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 392px;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 5%;
}

#footer_wrap_photo{

    width: 352px;
    height: 308px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;    
}

#footer_wrap_photo_Title{

    width: 309px;
}

#footer_wrap_photo_Title h2{

    color: white;
    width: 254px;
    height: 24px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Poppins", arial,  sans-serif;
    font-weight: 600;
    font-size: large;
}

#footer_wrap_photo_image_holder{

    height: fit-content;
    width: fit-content;
    }

#footer_wrap_photo_list{

    list-style: none;
    width: 303px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_wrap_photo_list_item{

    width: 100px;
    height: 100px;
}


/* Imagens >*/

#footer_wrap_photo_img1{

    display: block;
    width: 100px;
    height: 100px;
    background-image: url(Imagens/image_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#footer_wrap_photo_img2{

    display: block;
    width: 100px;
    height: 100px;
    background-image: url(Imagens/image_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#footer_wrap_photo_img3{

    display: block;
    width: 100px;
    height: 100px;
    background-image: url(Imagens/image_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#footer_wrap_photo_img4{

    display: block;
    width: 100px;
    height: 100px;
    background-image: url(Imagens/image_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#footer_wrap_photo_img5{

    display: block;
    width: 100px;
    height: 100px;
    background-image: url(Imagens/image_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#footer_wrap_photo_img6{

    display: block; 
    width: 100px;
    height: 100px;
    background-image: url(Imagens/image_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Imagens^^ */

#footer_list{

    list-style: none;
}

#footer_list_holder>h2{

    color: white;
    width: 254px;
    height: 24px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Poppins", arial,  sans-serif;
    font-weight: 600;
    font-size: large;
}

.footer_list_item_month{

    display: block;
    height: fit-content;    
    width: 277px;
    text-decoration: none;
    font-family: "Poppins", arial,  sans-serif;
    font-size: 14px;
    color:rgba(255,255,255,0.5);
    font-weight: 400;
    padding-bottom: 10px;
    margin-top: 15px;
    position: relative;
    border-bottom: solid 2.7px;
    border-color: rgba(255,255,255,0.1);
}

.footer_list_item_month>span{

    position: absolute;
    right: 0;
    color: rgba(255,255,255,1);
    font-weight: 500;
}

#footer_list_item_final>a{

    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}
#footer_have_questions{

    display: block;
    width: 278px;
    height: 207px;
    margin-left: 5%;
    margin-top: 20px;
}

#footer_have_questions>h2{

    color: white;
    text-align: left;
    text-transform: uppercase;
    font-family: "Poppins", arial,  sans-serif;
    font-weight: 600;
    font-size: large;
    margin-bottom: 10%;
}


#footer_have_questions_list{

    list-style: none;
    width: 100%;
    height: 100%;
}

.footer_have_questions_list_item{

    height: 42px;
    width: 328px;
    display: flex;
    flex-direction: row;   
    margin-bottom: 18px; 
    align-items: center;

}


#svg_holder1{

    display:contents;
}

#svg_holder1>svg{

    height:18px;
    width:18px;
    fill: white;
}

#svg_holder2{

    display:contents;
}

#svg_holder2>svg{

    height:18px;
    width:18px;
    fill: white;
}

#svg_holder3{

    display:contents;
}

#svg_holder3>svg{

    height:18px;
    width:18px;
    fill: white;
}
#footer_have_questions_list_item1{

    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 18%;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding-top: 25px;
    margin-left: 10px;
}

#footer_have_questions_list_item2{

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 700;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-top: 20px;
    margin-left: 10px;
}
#footer_have_questions_list_item3{

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 700;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-top: 20px;
    margin-left: 10px;
}

#div_copyright{

    width: 100%;
    height: 40px;
}       

#Copyright{

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255,255,255,0.5);
    height: fit-content;
    width: fit-content;
    margin-top: 2%;
    margin-left: 2%;
}

#span1000{

    font-weight: 800;
    color: rgba(241, 241, 241, 0.6);
}

.extraparte{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: rgba(55, 55, 55,1);
    padding-left: 50px;
}

.describer_text{

    font-family: "Poppins",arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-right: 18px;
    height: 50px;
    width: 300px;
    position: relative;
    right: 0;
}

#extrassesion:last-child{
    margin-right: 0;
}

#id1::before{

    content: "150";
    color: rgba(255, 183, 1, 0.5);
    font-family: "Poppins",arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
    display: block;
    height: fit-content;
    width: fit-content;
}

#id2::before{

    content: "110";
    color: rgba(255, 183, 1, 0.5);
    font-family: "Poppins",arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
    display: block;
    height: fit-content;
    width: fit-content;
}

#id3::before{

    content: "200";
    color: rgba(255, 183, 1, 0.5);
    font-family: "Poppins",arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
    display: block;
    height: fit-content;
    width: fit-content;
}

#id4::before{

    content: "200";
    color: rgba(255, 183, 1, 0.5);
    font-family: "Poppins",arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
    display: block;
    height: fit-content;
    width: fit-content;
}